<% review.questions_and_choices.each_with_index do |question, i| %>
  <input type="hidden" name="review[responses][][question]" value="<%= question['question'] %>">
  <p><%= question['question'] %></p>
  <% case question['question_type'] %>
  <% when 'radio_buttons' %>
    <% question['choices'].each_with_index do |choice, j| %>
      <input type="radio" name="review[responses][][response][<%= i %>]" value="<%= choice %>" id="<%= "#{review.class.to_s}-#{review.id}-q#{i}-radio-#{j}" %>">
      <label for="<%= "#{review.class.to_s}-#{review.id}-q#{i}-radio-#{j}" %>"><%= choice %></label>
    <% end %>
  <% when 'dropdown_list' %>
    <select class="form-select">
      <% question['choices'].each_with_index do |choice, j| %>
        <option value="<%= choice %>" name="review[responses][][response]"><%= choice %></option>
      <% end %>
    </select>
  <% when 'stars' %>
    <div class="form-group row" id="star">
      <div class="star-song-rating">
        <% 5.times do |i| %>
          <input type="radio" name="review[responses][][response]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
