<div class="container analytics">
  <h2><%= @event.name %></h2>
  <div class="analytics-chart-flexbox">
    <%= pie_chart @event.event_reviews.group(:rating).count %>
    <%= pie_chart @event.event_reviews.group(:sentiment).count %>
  </div>
  <% @event.event_reviews.each do |event_review| %>
    <p><%= event_review.rating %></p>
    <p><%= event_review.comment %></p>
    <p><%= event_review.sentiment %></p>
    <br>
  <% end %>
</div>
