<div class="event-dashbord">
<%= cl_image_tag @event.images.first.key, :width => '100%', :height => '500px', class: "event-img-top"%>
<h1><%= link_to @event.name, event_path(@event), class: "go-to-event" %></h1>


<div class="event-analytics-dashboard">
<h2>Analytics</h2>
</div>

<div class="event-info-dashboard">
<h2>Event Information</h2><%= link_to "edit", edit_event_path(@event), class: "edit-event-new" %> 
<h6>Event title:   <%= @event.name %></h6>
<h6>Event description:   <%= @event.description %></h6>
<h6>Start: <%= @event.start_at %> ~ <%= @event.end_at %></h6>
<h6>Venue: <%= @event.venue.name %><h6>
<p>Address: <%= @event.venue.address %></p>
</div>

<div class="event-song-dashboard">
<h2>Programme</h2><%= link_to "create new song", new_event_song_path(@event), class: "edit-songs-new" %> 
<% @songs.each do |song| %>
<div class="song">
<% unless song.images.empty? %>
<%= cl_image_tag song.images.first.key, :width => '100px', :height => '100px', class: "song-image-first"%>
<% end %>
<h6>Song title:   <%= song.name %></h6>
<h6>Composer:   <%= song.composer_name%></h6>
<h6>Start: <%= song.start_at %></h6>
<h6>length: <%= song.length_in_minute%></h6>
<h6>Description: <%= song.description %><h6>
<% end %>
</div>
</div>
</div>


