 <div class="full-page">
<%# <form>
  <input type="file" id="pictureInput"> 
</form> %>


<div class ="form-container">
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
 
 
 <div class="before-uproad" id="background">
 <%= image_tag asset_url("no-image.png") %>
 </div>

 <div class="event-image" id="pictureTarget">
 </div>

 <%= f.file_field :images, id: "pictureInput"%>
 <div class="input-container">
    <%= f.input :name, :label => "Event" %>
    <%= f.input :description, :label => "Event description"  %>
    <%= f.input :start_at, input_html: { class: 'select2' } %>
    <%= f.input :end_at, input_html: { class: 'select2' } %>
    <%= f.association :venue do |f| %>
    <%= f.input :name, :label => "Venue" %>
    <%= f.input :address %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-outline-dark" %>
  </div>
  </div>
<% end %>
</div>
</div>

<script>
const picture = document.querySelector('#pictureInput');
const pictureTarget = document.querySelector('#pictureTarget');
const background = document.querySelector('#background')

picture.addEventListener('change', (event) => {
 background.style.display = "none";
 const files = event.target.files;
  const image = files[0];
  // here's the file size
  console.log(images.size);
  const reader = new FileReader();
  reader.onload = function(file) {
    const img = new Image();
    console.log(file);
    img.src = file.target.result;
    pictureTarget.appendChild(img);
  }
  reader.readAsDataURL(image);
  console.log(files);
});
</script>
