<div class="background-home center-container" data-controller="events-new">
  <div class="form-container">
    <%= simple_form_for(@event) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="before-uproad event-background" data-events-new-target="eventBackground">
        <%= image_tag asset_url("image-upload.jpg")%>
      </div>

      <div class="event-image" data-events-new-target="eventImage">
      </div>

      <%= f.file_field :images, "data-action": "change->events-new#displayUploadedImage" %>
      <div class="input-container">
        <%= f.input :name, :label => "Event" %>
        <%= f.input :description,  id: "des"  %>
        <div class="start_at_event">
          <%= f.input :start_at, html5: true %>
        </div>
        <div class="end_at_event">
          <%= f.input :end_at, html5: true %>
        </div>
        <div class="venue-input">
          <%= f.association :venue do |f| %>
            <%= f.input :name, :label => "Venue" %>
            <%= f.input :address %>
          <% end %>
        </div>
      </div>

      <%# questions customization %>
      <div>
      <%#
        <%= f.fields_for 'questions_and_choices[]' do |f| %
          <%= f.input :question_type %
          <%= f.input :question %
          <%= f.input :choice %
        <% end %
      %>
        <%# dropdown question types %>
        <p>1</p>
        <div class="mb-3 string optional event_question_type">
          <label class="form-label string optional" for="event_question_type_0">Question type</label>
          <select class="form-select select optional" name="event[questions_and_choices][][question_type]" id="event_question_type_0">
            <option value="radio_buttons">Radio buttons</option>
            <option value="dropdown_list">Dropdown list</option>
            <option value="stars">Stars</option>
          </select>
        </div>
        <%# question string %>
        <div class="mb-3 string optional event_question">
          <label class="form-label string optional" for="event_question_0">Question</label>
          <input class="form-control string optional" type="text" name="event[questions_and_choices][][question]" id="event_question_0">
        </div>
        <%# choice string %>
        <div class="mb-3 string optional event_choice">
          <label class="form-label string optional" for="event_choice_0">Choice</label>
          <input class="form-control string optional" type="text" name="event[questions_and_choices][][choice][]" id="event_choice_0">
          <input class="form-control string optional" type="text" name="event[questions_and_choices][][choice][]" >
          <input class="form-control string optional" type="text" name="event[questions_and_choices][][choice][]" >
          <input class="form-control string optional" type="text" name="event[questions_and_choices][][choice][]" >
        </div>

        <p>2</p>
        <div class="mb-3 string optional event_question_type">
          <label class="form-label string optional" for="event_question_type_1">Question type</label>
          <select class="form-select select optional" name="event[questions_and_choices][][question_type]" id="event_question_type_1">
            <option value="radio_buttons">Radio buttons</option>
            <option value="dropdown_list">Dropdown list</option>
            <option value="stars">Stars</option>
          </select>
        </div>
        <%# question string %>
        <div class="mb-3 string optional event_question">
          <label class="form-label string optional" for="event_question_1">Question</label>
          <input class="form-control string optional" type="text" name="event[questions_and_choices][][question]" id="event_question_1">
        </div>
        <%# choice string %>
        <div class="mb-3 string optional event_choice">
          <label class="form-label string optional" for="event_choice_1">Choice</label>
          <input class="form-control string optional" type="text" name="event[questions_and_choices][][choice]" id="event_choice_1">
        </div>
      </div>

      <%= f.input :enable_textbox, input_html: {class: "checkbox-white-outline"} %>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-outline-dark" %>
      </div>
    <% end %>
  </div>
</div>
