<div class="event-show-image">
  <%= cl_image_tag @event.images.first.key %>
    <div class="event-show-name">
     <h1><%= @event.name %></h1>
   </div>
</div>
<div class="event-info-container">
  <div class="event-infos">
  </div>
</div> 


<%# event info %>
 <div><%= render 'event_info', event: @event %></div>
<%# programme %>
 <div><%= render 'programme', event: @event %></div>
<%# #song-review-form %>
 <%= render 'song_review_form', event: @event %>
<%# #event-review-form %>
 <div id="box2"><%= render 'event_review_form', event: @event %></div>


