<div class ="background-home">
 <div data-controller="song-info">
   <div data-song-info-target="eventInfoStart" data-event="<%= @event.start_at %>">
      <div class="event-start" data-song-info-target="eventImg">
      <%= cl_image_tag @event.images.first.key, class:"event-image-top" %>
      </div>
     </div>
 <% @songs.each do | song, index | %>
    <div data-song-info-target="songInfoStart" data-start="<%= song.start_at %>" data-song="<%= song.name %>">
      <div class="song-start d-none" data-song-info-target="songImg">
      <%= cl_image_tag song.images.first.key, class:"song-image-top" %>
      </div>
    </div>
<% end %>

<div class="event-show-name" data-song-info-target="eventName">
  <h1 data-song-info-target="eventName" ><%= @event.name %><h1>
</div> 
</div> 


<%# event info %>
 <div><%= render 'event_info', event: @event %></div>
<%# programme %>
 <%= render 'programme', event: @event %>
<%# #song-review-form %>
 <%= render 'song_review_form', event: @event %>
<%# #event-review-form %>
<%= render 'event_review_form', event: @event %>
