<div class ="background-home">
<div class="center-container">
  <div class="form-container">
    <%= simple_form_for [@event, @song] do |f| %>
      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :composer_name %>
        <div class="start_at_event">
          <%= f.input :start_at %>
        </div>
        <%= f.input :length_in_minute %>
        <%= f.input :description, :label => "Song description" %>

        <div class="song-img-container" id= "background">
          <%= f.input :images, as: :file, input_html: { multiple: true, id: "pictureInput" } %>
          <div class="event-image" id="eventImageTarget">
          </div>
        </div>

        <div id="pictureTarget">
        </div>

        <div class="venue-input">
          <%= f.association :venue do |f| %> 
          <%= f.input :name, :label => "Venue" %>
          <%= f.input :address %>
        </div>
        <% end %>


        <div class="form-actions">
          <%= f.button :submit, class: "btn-outline-secondary" %>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<script>
const pictures = document.querySelector('#eventImageInput');
const eventImagesTarget = document.querySelector('#eventImageTarget');
// const background = document.querySelector('#event-background')

pictures.addEventListener('change', (event) => {
//  background.style.display = "none";
  const files = event.target.files;
  const image = files[0]
  // here's the file size
  console.log(image.size);
  const reader = new FileReader();
  reader.onload = function(file) {
    const img = new Image();
    console.log(file);
    img.src = file.target.result;
    eventImagesTarget.appendChild(img);
  }
  reader.readAsDataURL(image);
  console.log(files);
});
</script>

