<div class ="background-home">
  <div class="center-song-show-container">
    <div class="song-show-container">
      <div class="song-show">
        <h1><%= @song.name %></h1>
        <section class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% @song.images.each do | image | %>
                <li class="glide__slide"><%= image_tag(image) %></li>
              <% end %>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="song-show-container">
    <div class="song-show-piece">
      <h2><i class="fas fa-music"></i>About pieces</h2>
      <p><%= @song.description %></p>
    </div>
  </div>
  <div class="song-show-container">
    <div class="song-show-artist">
      <h2><i class="fas fa-music"></i>Artists Profile</h2>
      <p>Arisa Nemoto</p>
      <p>
        Arisa was born in Tokyo,  Japan. After she study in the UK, she had solo recitals at Southwark Cathedral, St John’s Church Waterloo.
        As an orchestral musician, Arisa has worked with acclaimed conductors including Sir Simon Rattle, Christoph Eschenbach, Ton Koopman, Michael Sandering, Manfred Honeck, Esa-Pekka Salonen, Pietari Inkinen, Valery Gergiev, Tadaaki Otaka and  and has performed in venues such as Royal Albert Hall, Barbican Hall, LSO St. Luke’s, , Elbphilharmonie, Suntory Hall, Tokyo Metropolitan Theatre, Tokyo Bunka Kaikan, Sumida Triphony Hall and Muza Kawasaki Symphony Hall in Japan.
      </p>
      <hr>
      <p><% @performers.each do |performer| %></p>
        <p><%= performer.name %>
          <p>
            <p>The Special Prize winner of the Anton Rubinstein International Competition, <%= performer.name %> is a pianist, chamber musician, and educator. <%= performer.name %> is a on faculty of The Juilliard School and Heifetz International Music Institute. 
              <p>
              <% end %>
            </div>
          </div>
        </div>
