<div class="background-pages-dashboard">
  <div class="container">
    <% if user_signed_in? %>
      <br><h3> Hello <%= current_user.first_name %> 👋 </h3>
    <% end %>
  </div>

  <div class="container">
    <div class="event-analytics-dashboard">
      <div class="analytics-overall-flexbox">
        <div>
          <h3 class="analytics-overall-title">Overall Ratings</h3>
          <%= pie_chart @analytics_rating, colors: ["#222", "#4BB5CC", "#D93869", "#4834B9"] %>
        </div>
      <div>
        <h3 class="analytics-overall-title">Overall Sentiment</h3>
        <%= pie_chart @analytics_sentiment, colors: ["#4834B9", "#222"] %>
      </div>
    </div>
  </div>

  <div class="event-info-dashboard">
      <div class="part-2 col-12">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1488630228244-bcdf33562a43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80)">
          <%= pluralize @events.count, "upcoming event" %>
        </div>
      </div>
  </div>

  <div class="event-info-dashboard">
    <div class="container mt-5">
        <div class="d-flex flex-column">
            <% @events.each do |event| %>
              <% if event.images.attached? %>
                <div class="card-product-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= cl_image_path(event.images.first.key) %>)">
              <% end %>
              <a href="<%= manage_event_path(event)%>"><%= event.name %></a>
                <div class="container">
                  <% event.songs.first(3).each do |song| %>
                    <div>
                      <%= song.name %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  </div>
  <br>
</div>
